@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05); }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05); }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

.pulse, #generateIt:hover {
  -webkit-animation-name: pulse;
          animation-name: pulse; }

.animated, #generateIt:hover {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.animated.infinite, #generateIt:hover {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

body {
  color: #444;
  font-size: 14px;
  padding: 30px 20px; }

.container {
  width: 1200px;
  margin: 4em auto; }

.component {
  padding: 12px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-transition: border-color .15s ease-in;
          transition: border-color .15s ease-in; }
  .component:hover {
    border-color: #F1A9A0;
    cursor: move; }
    .component:hover .controls {
      visibility: visible; }

.controls {
  display: block;
  text-align: right;
  float: right;
  visibility: hidden; }
  .controls i {
    color: #aaa;
    -webkit-transition: color 150ms;
            transition: color 150ms;
    cursor: pointer !important;
    margin-left: 4px; }
    .controls i:hover {
      color: #555; }

.editable {
  width: 75%;
  padding-left: 2px; }
  .editable i {
    margin-left: 4px;
    color: #aaa;
    -webkit-transition: color 150ms;
            transition: color 150ms; }
    .editable i:hover {
      color: #555; }
  .editable input {
    -webkit-transition: border-color .15s ease-in;
            transition: border-color .15s ease-in;
    border: 1px solid transparent;
    margin-bottom: 8px;
    padding: 0 4px;
    display: inline-block;
    border-radius: 2px;
    width: 92%; }
    .editable input:hover, .editable input:active, .editable input:focus {
      outline: none; }
  .editable .fa-times {
    visibility: hidden;
    cursor: pointer; }
  .editable:hover input {
    border-color: #DCC6E0; }
  .editable:hover .fa-times {
    visibility: visible; }
    input ~ .editable:hover .fa-times:hover {
      border-color: #DCC6E0; }

#sortable, .sidebar, #result {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  #sortable li, .sidebar li, #result li {
    display: block;
    list-style: none;
    margin: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

#sortable {
  padding: 16px;
  padding-bottom: 60px !important;
  border: 2px dashed #e5e5e5;
  border-radius: 12px;
  min-height: 680px;
  position: relative; }
  #sortable .empty {
    margin: auto;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 40%; }

#result {
  margin: auto;
  float: none; }
  #result .component {
    cursor: default !important;
    border: 0 !important; }

.sidebar ul {
  padding: 0; }
.sidebar .title {
  padding-left: 8px; }
.sidebar li {
  -webkit-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out;
  border-radius: 6px;
  padding: 12px 16px;
  margin: 0;
  cursor: default; }
  .sidebar li:hover {
    background-color: #efefef;
    cursor: -webkit-grab;
    cursor: grab; }
    .sidebar li:hover:active {
      background-color: #ddd;
      cursor: -webkit-grabbing;
      cursor: grabbing; }

.ui-state-sorting {
  height: 160px;
  background-color: aliceblue; }

li i {
  width: 24px; }

#answer-question {
  opacity: 0;
  -webkit-transition: all 250ms;
          transition: all 250ms; }

#textField {
  opacity: 1; }

.btn-file, .input-group-btn .btn-file, .input-group-addon.btn-inverse {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: #fff;
  background-color: #34495e;
  border-color: #34495e; }
  .btn-file:hover, .btn-file.hover, .btn-file:focus, .btn-file:active, .btn-file.active, .input-group-btn .btn-file:hover, .input-group-btn .btn-file.hover, .input-group-btn .btn-file:focus, .input-group-btn .btn-file:active, .input-group-btn .btn-file.active, .input-group-addon.btn-inverse:hover, .input-group-addon.btn-inverse.hover, .input-group-addon.btn-inverse:focus, .input-group-addon.btn-inverse:active, .input-group-addon.btn-inverse.active {
    color: #fff;
    background-color: #415b76;
    border-color: #415b76; }

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block; }

input[readonly] {
  background-color: white !important;
  cursor: text !important; }

.control-label {
  font-weight: bold !important; }

.form-inline .form-group {
  margin-right: 4px;
  margin-bottom: 0 !important; }

.form-group {
  margin-bottom: 6px !important; }
