
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}


.control-label {
    font-weight: bold !important;
}
.form-inline {
    .form-group {
        margin-right: 4px;
        margin-bottom: 0 !important;
    }
}
.form-group {
    margin-bottom: 6px !important;
}